body{
    margin: 0;
    padding: 0;
    background: url("tr2.jfif");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    
    width: 320px;
    height: 300px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


h1{
    
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

h2{
    
    margin: 0;
    padding: 0 0 20px;
    text-align: right;
    font-size: 22px;
}



.loginbox input{
    
    width: 100%;
    margin-bottom: 20px;
    
}


    
.loginbox button{
    
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 250px;
}

.loginbox button:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
    
}





